h1{
    background-color: burlywood;
    text-align: center;
}
body{
    background-color: black;
    text-align: center;
    width: 400; height: 500;
}
label{
    color: yellow;
}
button{
    color: white;
    background-color: rgb(3, 241, 3);
    text-align: center;
}
form{
    text-align: center;
}
input{
    border-radius: 10px;
}
